<% let submitted = current_user.Subscribed(submission.ID) %>
<%= if ( (current_user && (!submission.Hidden && !submission.Deleted) && !(submitted && !submission.Editable)) || role == "admin" ) {
    let ctx = {sid: submission.ID, forum_title:forum.Title}
    let editing = false
    %>
    
    <h5><a class="btn btn-md btn-secondary text-mute" href="<%= subIndexPath({forum_title:forum.Title}) %>"><%= bicon("arrow-left-circle")%> <%= t("app-submissions-title") %></a></h5>
    <div class="row" style="margin-bottom: 3rem;">
        <h2 class="text-muted"><%= if (submission.Hidden) { %><%= bicon("eye-slash-fill") %> <% } %>
            <%= raw(submission.Title.String) %>
        </h2>
        <div class="col-md-8 mt-5 offset-md-0">
            <%= markdown(submission.Description.String) %>
        </div>
    
        <%= if (current_user.Role == "admin") { %>
        <div class="col-md-2 mt-3 offset-md-8 text-right">
            <%= partial("modal-fade",{modal_action:"delete",
            modal_ID:"delete-submission", 
            modal_href: subDeletePath(ctx),
            action:"DELETE",
            modal_title: t("topic-delete-msg", {title: submission.Title.String}),
            button_label:bicon("trash-fill",{size:"1em"})}) %>
            <a href="<%= subEditPath(ctx) %>" class="btn btn-secondary btn-sm ">
                <span><%= bicon("input-cursor-text",{size:"1em"}) %>  <%=t("topic-edit") %> </span>
            </a>
            <a href="<%= subResponseIndexPath(ctx) %>" class="btn btn-info btn-sm ">
                <span><%= bicon("upload",{size:"1em"}) %>  <%=t("submission-responses") %> </span>
            </a> 
        </div>
        <% } %>
    </div>

<%= form({action: subSubmissionPath({forum_title:forum.Title,sid: submission.ID}), method: "POST"}) { %>
    <%= if (!submission.Anonymous) {%>
        <input hidden type="text" name="db_email" value="<%= current_user.Email %>">
    <% } %>
    
    <%=  for (input) in form_data  {%>
    <div class="form-group col-md-7">
        <%=  if (input["type"]=="text" ) {%>
            <%= f.InputTag(input) %>
        <% } else if (input["type"]=="textarea") { %>
            <%= f.TextArea(input) %>
        <% } else if (input["type"]=="dropdown" || input["type"]=="select") {%>
            <%= f.SelectTag(input) %>
        <% } else if (input["type"]=="file") {%>
            <%= f.FileTag(input) %>
        <% } %>
        <div class="help-block mb-4" style="margin-top: -1rem;margin-bottom: 1rem;"><span><%= input["help"] %></span></div>
    </div>
<% } %>
<%= if (form_error) { %>
    <%= partial("modal-fade",{modal_action:"disabled",
    modal_ID:"formErrorSubmit", 
    modal_href:"#",
    modal_title:form_error.Error(),
    button_label:t("submit") }) %>
<% } else if (form_data && len(form_data)>0) { %>
    <%= partial("modal-fade",{modal_action:"submit",
    modal_ID:"formSubmit", 
    modal_href:subSubmissionPath(ctx),
    modal_title:t("submission-submit-warning",submission),
    button_label:t("submit") }) %>
    
<% } %>

<%}%>
<%= if (current_user.Role == "admin") {%>

    <div class="modal fade" id="topic-modal-<%= submission.ID %>">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><%= t("topic-delete-msg", {title: submission.Title}) %></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal  -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col text-left">
                            <a href="<%= subDeletePath(ctx) %>" class="btn btn-danger">
                                <%= bicon("trash-fill",{size:"2em"}) %> <%= t("topic-delete") %>
                            </a>
                        </div>
                        <div class="col text-right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t("close") %></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% } %>