<!-- TOPIC POST FORM -->
<%= if (current_user) {
let content = t("new-topic-content-template")
let title  = ""
let archived = false
let status = "new"
        if (topic) {
            content = topic.Content
            title  = topic.Title
            archived = topic.Archived
            status = "edit"
        }
%>

<div class="row mt-3 justify-content-center">
    <div class="col-md-12 col-sm-10" >
        <h2><%= t(status+"-topic-headline") %></h2>
        <form class="form-horizontal" action="<%= current_path %>" method="POST" enctype="multipart/form-data">
        <input name="authenticity_token" type="hidden" value="<%= authenticity_token %>">
        <fieldset>
            <!-- Form Name -->
            <!-- Text input title-->
            <div class="form-group" >
                <label class="col-md-4 control-label" for="title"><%= t("title") %></label>
                <div class="col-md-4">
                    <input id="title" name="title" type="text" placeholder="Pregunta, consulta"
                           class="form-control input-md" required value="<%= title %>">
                    <span class="help-block"><%=t("new-topic-title-help") %></span>
                </div>
            </div>

            <!-- Single checkbox (inline) -->
            <div class="form-group">
                <%= if (archived) { %>
                    <label class="col-md-4 control-label" for="archive"><%= t("unarchive") %></label>
                    <input type="checkbox" name="archive" id="archive" value="false">
                <% } else { %>
                    <label class="col-md-4 control-label" for="archive"><%= t("archive") %></label>
                    <input type="checkbox" name="archive" id="archive" value="true">
                <% } %>
                <div class="col-md-4">
                    <span class="help-block"><%= t("new-topic-archive-help") %></span>
                </div>
            </div>

                        <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-8 control-label" for="content"><%= t("content") %></label>
                <div class="col-md-8" >
                    <textarea class="form-control" id="content" rows="9" name="content" required placeholder="<%= t("new-topic-content-placeholder") %>"><%= content %></textarea>
                    <span class="help-block"><%= t("new-topic-content-help") %></span>
                </div>
            </div>

            <!-- SUBMIT Button -->
            <div class="col-md-4">
                <button id="submit" class="btn btn-primary"><%= t("submit") %></button>
            </div>

        </fieldset>
        </form>

        <!-- This is the preview (vista previa of markdown/mathjax/hljs content) -->
        <%= partial("md.plush.html",{id_in: "content" ,id_out: "preview", title: t("new-topic-preview")}) %>


    </div>
</div>

<% } %>