<%= if (current_user.Role == "admin") {
let description = ""
let title  = ""
let editing = false
if (inCat) {
    title  = category.Title
    description = category.Description.String
    editing = true
}
%>
<div class="row mt-3 justify-content-center">
    <div class="col-md-8 col-sm-10">
        <h2><%= if (category) {%><%=t("category-edit-category") +" "+category.Title %><% } else { %><%= t("category-new-category") %> <% } %></h2>
        <form class="form-horizontal" action="<%= current_path %>" method="POST" enctype="multipart/form-data">
        <input name="authenticity_token" type="hidden" value="<%= authenticity_token %>">
        <fieldset>
            <!-- Form Name -->
            <legend>Complete el titulo con caracteres alfanumericos (puede tener "_" y "-")</legend>
            <!-- Text input Title-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="title">Titulo</label>
                <div class="col-md-5">
                    <input id="title" name="title" type="text" placeholder="Un tema general"
                           class="form-control input-md" required="" value="<%= title %>">
                    <span class="help-block">Nombre de la categoria</span>
                </div>
            </div>

            <!-- Text input Description -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="description">Descripción</label>
                <div class="col-md-12">
                    <textarea id="description" rows="10"  name="description" type="text" placeholder="Apuntes de todos para todos"
                              class="form-control input-md"><%= description %></textarea>
                    <span class="help-block">Se mostrara a los usuarios como un anuncio. Informacion util para postear</span>
                </div>
            </div>

            <!-- SUBMIT Button -->
            <div class="col-md-4">
                <button id="submit" class="btn btn-primary">Submit</button>
            </div>
        </fieldset>
        </form>
        <!-- This is the preview (vista previa of markdown/mathjax/hljs content) -->
        <%= partial("md.plush.html",{id_in: "description" ,id_out: "preview", title: t("new-topic-preview")}) %>

    </div>
</div>

<%}%>