<nav class="navbar navbar-expand-md navbar-light bg-light mb-2 px-lg-5">
    <%= if (inForum) { %>
        <a class="navbar-brand" href="<%= forumPath({forum_title:forum.Title}) %>">
            <%= forum.LogoImage({class:"img-circle",style:"width:50px;"}) %>
        <% } else { %>
            <a class="navbar-brand" href="/">
            <%= bicon("house-fill",{size:"2em"}) %>
    <% } %> </a>
    <button class="navbar-toggler navbar-dark bg-info" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item pr-md-1"><!--Evaluations-->
                <a class="btn rounded-pill btn-outline-secondary border-0" href="<%= evaluationPath() %>"><%= t("curso-python-evaluator") %><span class="sr-only">(Evaluaciones o desafios)</span></a> 
            </li>
            <%= if (inForum) { %>
                <%= if (!categories) { %>
                    <li class="nav-item px-md-1">
                        <a class="btn rounded-pill btn-outline-secondary border-0" href="<%= forumPath({forum_title:forum.Title}) %>"><%= t("app-categories") %></a>
                    </li>
                <% } %>
                <%= if ( !(submissions) ) { %>
                    <li class="nav-item px-md-1">
                        <a class="btn rounded-pill btn-outline-secondary border-0" href="<%= subIndexPath({forum_title:forum.Title}) %>"><%= t("app-submissions-title") %></a>
                    </li>
                <% } %>
            <% } %>
            <%= if (role == "admin") { %>
            <li class="nav-item">
                <a class="btn rounded-pill btn-outline-info" href="<%= allUsersPath() %>"><%= t("app-users") %></a>
            </li>
            <% } %>
        </ul>
        <%= if (current_user) { %>
          <%= form({class:"form-inline my-2 my-lg-0",action: search_path, method: "GET"}) { %>
              <label class="sr-only" for="searchbar">Buscador de temas y respuestas</label>
              <%= f.InputTag({class:"form-control mr-sm-2",name: "query", id:"searchbar", placeholder: t("app-search"), value: params["query"]}) %>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%= bicon("search",{size:"1.3em"}) %></button>
          <% } %>
        <ul class="navbar-nav mr-2">
        <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= userIcon(current_user,{size:"1em"}) %> <span title="<%= current_user.Email %>"><%= displayName(current_user) %></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item nav-link" href="<%=user_settings_path%>"><%= bicon("gear-fill",{size:"1em"}) %> <%= t("app-settings") %> </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item nav-link" href="<%= logoutPath() %>" data-method="DELETE"><%= bicon("door-open",{size:"1em"}) %> <%= t("app-request-logout") %></a>
            </div>
          </li>
        </ul>
        <% } else { %>
        <ul class="navbar-nav mr-2">
            <li class="nav-item">
                <a href="<%= auth_path %>" class="btn rounded-pill btn-outline-success"><%= t("app-request-login") %></a>
            </li>
        </ul>
        <% } %>
      </div>
</nav>
