<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Foros ITBA</title>
    <link rel="icon"  href="<%= assetPath("images/logo-curso32x32.png") %>">
    <%= stylesheetTag("application.css") %>
    <!-- security against cross site reference attacks -->
    <meta name="csrf-param" content="authenticity_token"/>
    <meta name="csrf-token" content="<%= authenticity_token %>"/>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://www.jqueryscript.net/css/jquerysctipttop.css">
    <!-- JQUERY LINED TEXTAREA -->
    <link rel="stylesheet" href="<%= assetPath("css/jquery-linedtextarea.css") %>">
    <!--MATH JAX-->
    <script id="MathJax-script" src="https://cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <!-- HIGHLIGHT.JS - an empty string defaults codeTheme -->
    <%= if (current_user) { %>
        <%= codeTheme(current_user.Theme) %>
    <% } else { %>
        <%= codeTheme("") %>
    <% } %>
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/highlight.min.js"></script>
    <script>
        // RENDERS contains all functions that need to be executed in their order
        // for html to look tip top quality
        var RENDERERS = [];
        // iterates over RENDERERS and executes rendering tasks
        // RENDER contains all rendering functions.
        // first in, last rendered
        function render(renderers) {
            const N = renderers.length
            for (let i = 0; i < N; i++) {
                renderers[i]()
            }
        }
    </script>
</head>
<body>
<div class="container">
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>
                    <%= if (inForum) { %>
                    <a class="navbar-brand" href="<%= forumPath({forum_title:forum.Title}) %>">
                        <img src="data:image/png;base64,<%= forum.LogoImage() %>" class="img-circle" style="width: 50px;">
                        <% } else { %>
                        <a class="navbar-brand" href="<%= root_path %>">
                        <%= icon("house-fill",2,2) %>
                        <% } %> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= evaluationPath() %>"><%= t("curso-python-evaluator") %></a>
                </li>
                <%= if (inForum) {
                let ftitle = {forum_title:forum.Title}
                let fpath = forumPath(ftitle)
                %>
                <li class="nav-item">
                    <a class="nav-link" href="<%= fpath %>"><%= t("app-categories") %></a>
                </li>
                <% } %>

                <%= if (current_user && current_user.Role == "admin") { %>
                <li class="nav-item">
                    <a class="nav-link" href="<%= allUsersPath() %>"><%= t("app-users") %></a>
                </li>
                <% } %>
            </ul>
            <ul class="navbar-nav">
                <%= if (current_user) { %>
                <li class="nav-item" >
                     <a class="nav-link badge badge-light" href="<%= search_path %>">
                         <%= icon("search",2,2) %>
                     </a>
                 </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button type="button" class="btn btn-light" data-toggle="dropdown">
                           <!-- <img src="data:image/png;base64,<%= current_user.Image() %>"
                                 alt="<%= current_user.Name %>" style="width:50px;" class="img-circle"> -->

                            <%= userIcon(current_user,1) %> <%= displayName(current_user) %>
                            <%= icon("caret-down-fill",1,1) %>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item nav-link" href="<%=user_settings_path%>"><%= icon("gear-fill",1,1) %> <%=
                                t("app-settings") %> </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item nav-link" href="<%= logoutPath() %>"
                               data-method="DELETE"><%= icon("door-open",1,1) %> <%=
                                t("app-request-logout") %></a>
                        </div>
                    </div>
                </li>

                <% } else { %>
                <li class="nav-item">
                    <a href="<%= auth_path %>" class="nav-link"><%= t("app-request-login") %></a>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>
    <!-- End NavBar -->
</div>
<div class="container" style="margin-bottom:4rem;">

    <%= partial("flash.html") %>
    <%= yield %>
</div>
<footer class="container">
    <div class="row justify-content-center sponsors py-5">
        <a href="<%=t("app-footer-link-url") %>">
            <img class="img-sponsor"  src="<%= assetPath("images/ieeesbitba.png") %>">
        </a>
        <img class="img-sponsor"  src="<%= assetPath("images/ieee.png") %>">
    </div>
    <div class="row">
        <p class="col-sm-8"><%= t("app-footer-title") %> &middot; <a href="<%= t("app-footer-link-url") %>"><%= t("app-footer-link-name") %></a> <!--&middot; <a href="#">Terms</a>--></p>
        <p class="col-sm-4"><a href="#"><%= t("app-back-to-top") %></a></p>
    </div>
    <div class="row">
        <p class="col-12 col-sm-12 text-center" style="color:lightgray;">Presentado/Desarrollado con &heartsuit; en whittileaks</p>
    </div>


</footer>
<%= javascriptTag("application.js") %>
</body>

</html>
<!--
<a class="navbar-brand" href="<%= root_path %>">
    <= if (len(forum.Logo)==0) { >
    <img src="<= assetPath(" images/logo-curso.png") >" style="width:50px;">
    < } else { >
    <img src="data:image/png;base64,<= forum.LogoImage() >" style="width:50px;">
    < } >
</a> -->