<%= if (current_user) { %>
</br>


<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title"><%= t("welcome_greeting")+ " " + current_user.Name %></h3>
        </div>
        <div class="panel-body">
            <ul>
                <li><a href="/python">
                        Foros ITBA
                    </a>
                </li>
                <li>
                    <a href="/auth" data-method="DELETE"><%= t("logout") %></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<% } %>
<div class="container">
    <div class="page-header">
        <h1><%= t("app-login-title") %></h1>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title"><%= t("app-login-detail") %></h3>
        </div>
        <div class="panel-body">
            <p><%= t("app-login-choose") %></p>
            <div class="container">
                <a href="/auth/facebook">
                <div class="card col-12 col-md-4 m-1 bg-dark">
                    <div class="card-header text-white" ><img width="30" src="https://static.xx.fbcdn.net/rsrc.php/yo/r/iRmz9lCMBD2.ico">
                        Facebook
                    </div>
                </div>
                </a>
                <a href="/auth/google">
                    <div class="card col-12 col-md-4 m-1 bg-dark" style="background: #BE3F34">
                        <div class="card-header text-white" ><svg width="30" viewBox="0 0 48 48" aria-hidden="true" class="L5wZDc"><path fill="#4285F4" d="M45.12 24.5c0-1.56-.14-3.06-.4-4.5H24v8.51h11.84c-.51 2.75-2.06 5.08-4.39 6.64v5.52h7.11c4.16-3.83 6.56-9.47 6.56-16.17z"></path><path fill="#34A853" d="M24 46c5.94 0 10.92-1.97 14.56-5.33l-7.11-5.52c-1.97 1.32-4.49 2.1-7.45 2.1-5.73 0-10.58-3.87-12.31-9.07H4.34v5.7C7.96 41.07 15.4 46 24 46z"></path><path fill="#FBBC05" d="M11.69 28.18C11.25 26.86 11 25.45 11 24s.25-2.86.69-4.18v-5.7H4.34C2.85 17.09 2 20.45 2 24c0 3.55.85 6.91 2.34 9.88l7.35-5.7z"></path><path fill="#EA4335" d="M24 10.75c3.23 0 6.13 1.11 8.41 3.29l6.31-6.31C34.91 4.18 29.93 2 24 2 15.4 2 7.96 6.93 4.34 14.12l7.35 5.7c1.73-5.2 6.58-9.07 12.31-9.07z"></path><path fill="none" d="M2 2h44v44H2z"></path></svg>
                            Google
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-6 text-muted">
        Para prevenir el auto-login y entrar con una cuenta diferente tiene que borrar sus Cookies (Ctrl+Shift+Delete en la mayoría de los browsers).
    </div>
</div>




