<form class="form-horizontal card border-danger" action="<%= cursoCodeDeletePath() %>" method="POST" enctype="multipart/form-data">
    <div class="card-header bg-danger text-white">
        Eliminar base de datos de códigos Python
    </div>
    <%= csrf() %>
    <!-- Text input title-->
    <fieldset>
    <div class="form-group card-body">
        <label class="col-md-4 control-label" for="authkey"> Ingrese código </label>
        <div class="col-md-4">
            <input id="title" name="authkey" type="text" placeholder="Por favor preguntar antes de hacer esto."
                   class="form-control input-md" value="">
            <span class="help-block"> </span>
        </div>
    </div>
    </fieldset>
</form>

<form class="form-horizontal card border-info my-4" action="<%= sqlBackupPath() %>" method="POST" enctype="multipart/form-data">
    <div class="card-header bg-info text-white">
       <%= bicon("server")%> Descargar Base de datos SQL en formato JSON &middot; Download SQL Database as JSON
    </div>
    <%= csrf() %>
    <!-- Text input title-->
    <fieldset>
    <div class="form-group card-body">
        <label class="col-md-4 control-label" for="authkey"> Ingrese código </label>
        <div class="col-md-4">
            <input id="title" name="authkey" type="text" placeholder="Authentikey"
                   class="form-control input-md" value="">
            <span class="help-block"> </span>
        </div>
    </div>
    </fieldset>
</form>
