<%= if (current_user) { %>
<h2><%= t("user-settings-headline") %></h2>
<h3><%= current_user.Name %>  </h3>
<h5 class="text-muted"><%= current_user.Email %></h5>
<form class="form-horizontal" action="<%= current_path %>" method="POST" enctype="multipart/form-data">
    <input name="authenticity_token" type="hidden" value="<%= authenticity_token %>">
    <fieldset>
        <!-- Form Name -->
        <!-- Text input title-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="nick"><%= t("user-settings-nick") %></label>
            <div class="col-md-4">
                <input id="nick" name="nick" type="text" placeholder="<%= t(" user-settings-nick-placeholder") %>"
                class="form-control input-md" value="<%= current_user.Nick %>">
                <span class="help-block"><%=t("user-settings-nick-help") %></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="code-theme"><%= t("user-settings-theme") %></label>
            <div class="row">
                <select class="form-control col-md-4  form-control-md" name="code-theme">
                    <%= codeThemeFormOptions(current_user) %>
                </select>
                <div class="col-md-4">
                    <pre><code><%= t("user-settings-theme-sample-code") %></code></pre>
                </div>
            </div>

        </div>
        <!-- SUBMIT Button -->
        <div class="col-md-4">
            <button id="submit" class="btn btn-primary"><%= t("submit") %></button>
        </div>

    </fieldset>
</form>

<%= if (len(current_user.Subscriptions) > 0) { %>
<div>
    <%= current_user.Subscriptions %>
</div>
<div class="row">
    <legend>Subscripciones: <a href="<%= topicUnsubscribePath({uid:current_user.ID, tid: `all`}) %>" class="badge badge-danger"><%= t("topic-unsubscribe-all") %></a></legend>
    <table>
        <thead>
        <%= for (topic) in topics { %>
        <%= if (current_user.Subscribed(topic.ID)) { %>
        <tr>
            <td><%= topic.Title %></td>
            <td>
                <div class="text-justified">
                    <a href="<%= topicUnsubscribePath({uid:current_user.ID, tid: topic.ID}) %>">
                        <button class="btn btn-outline-danger">
                            <%= bicon("x-circle",{size:"1em"}) %> <%= t("topic-unsubscribe") %>
                        </button>
                    </a>
                </div>
            </td>
        </tr>
        <% } %>
        <% } %>
        </thead>
    </table>
</div>
<% } %>
<!-- current user end -->
<% } %>
