<div class="row">
    <a class="badge badge-secondary text-white mb-3" href="<%= root_path %>">
        <%= bicon("house-fill",{size:"2em"}) %><%= t("forum-back-to-forums") %>
    </a>
</div>

<div class="row">
    <h1><%= forum.Title %></h1>
    <div class="col-3 offset-md-9 text-right">
        <%= if (current_user.Role == "admin") { %>
        <a href="<%= catCreatePath({forum_title:forum.Title}) %>" class="btn btn-primary"><%= bicon("folder-plus",{size:"1em"}) %> <%= t("category-new-category") %></a>
        <% } %>
    </div>
</div>

<div class="row mt-3">
    <div class="col-10"><%= t("category-category") %></div>
    <div class="col-2 text-center"><%= t("category-activity") %></div>
</div>

<%= for (c) in categories { %>
<div class="row">
    <hr class="col-md-12">
    <div class="col-10">
        <a href="<%= joinPath(current_path,"c", c.Title) %>"><h2><%= c.Title %></h2></a>
        <%= if (current_user.Role == "admin") { %>
        <a href="<%= catEditPath({cat_title:c.Title, forum_title:forum.Title}) %>">
            <%= bicon("pencil-square",{size:"2em"}) %>
        </a>
        <% } %>
        <p><%= if (c.Description.Valid) { markdown(truncate(c.Description.String, {"size": 100})) } %></p>
    </div>

    <div class="col-2 text-center">
        <%= timeSince(c.UpdatedAt) %>
    </div>
</div>
<% } %>

<hr class="col">

<div class="row">
    <div class="col">
        <%= paginator(pagination) %>
    </div>
</div>