<div class="row">
    <div class="col-md-2 offset-md-10 text-right">
        <%= if (current_user.Role == "admin") { %>
        <a href="<%= create_forum_path %>" data-method="GET" class="btn btn-primary"><%= t("new-forum") %></a>
        <% } %>
    </div>
</div>



<%= if (len(forums) == 0) {%>
        <h2>
            <%= t("no-forums-found") %>
        </h2>
    <% } else { %>
        <h2>Foros activos</h2>
<div class="row row-cols-1 row-cols-md-3">
        <%= for (i, v) in forums {
            let admin = false
            if (current_user) {
                admin = current_user.Role == "admin"
            } %>

    <%= if (v.Defcon < 3 || admin) { %>
    <div class="card mb-3 mx-1" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-2 col-md-3">
                <a aria-label="<%= v.Title %>" href="<%= forumPath({forum_title:v.Title}) %>"><%= v.LogoImage({class:"card-img img-thumbnail m-2"}) %></a>
            </div>
            <div class="col-10 col-md-9">
                <div class="card-body">
                    <h3 class="card-title"><%= v.Title %></h3>
                    <p class="card-text"><%= v.Description %></p>
                    <a href="<%= forumPath({forum_title:v.Title}) %>"><button class="btn btn-secondary"><%= t("forum-visit") %></button></a>
                </div>
            </div>
        </div>
    </div>
        <% } } %>
</div>
<% } %>

<div class="row row-cols-1 row-cols-md-2">
    <div class="card mx-auto" style="width:420px;">
        <iframe defer title="Como usar el foro" width="420" height="315"
            src="https://www.youtube.com/embed/On1IIYtWx3k">
        </iframe>
        <div class="card-body">
        <p class="card-text">Tutorial de como usar este foro. <a href="https://youtu.be/On1IIYtWx3k">Link al youtube.</a></p>
        </div>
    </div>
    <div class="card mx-auto" style="width:420px;">
        <iframe defer title="Primer clase en vivo práctica" width="420" height="315"
            src="https://www.youtube.com/embed/fBxP413Nxk4">
        </iframe>
        <div class="card-body">
        <p class="card-text">Primer clase en vivo grabada.<a href="https://youtu.be/fBxP413Nxk4">Link al youtube.</a></p>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="pagination-sm">
        <%= paginator(pagination) %>
    </div>
</div>